<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.isoft.bearsport.persist.activity.ActivityMapper">
	<resultMap id="activityMap" type="com.group.isoft.bearsport.model.activity.Activity">
		<id property="id" column="ID" javaType="String" />
		<result property="actId" column="ACT_ID" javaType="String" />
		<result property="actType" column="ACT_TYPE"
			javaType="String" />
		<result property="feeType" column="FEE_TYPE"
			javaType="String" />
		<result property="planPeople" column="PLAN_PEOPLE" javaType="int" />
		<result property="sportType" column="SPR_TYPE"
			javaType="String" />
		<result property="actDate" column="ACT_DATE"
			javaType="java.sql.Date" />
		<result property="actTime" column="ACT_TIME"
			javaType="String" />
		<result property="userId" column="USER_ID"
			javaType="String" />
		<result property="openId" column="OPEN_ID"
			javaType="String" />
		<result property="heat" column="HEAT"
			javaType="String" />
		<result property="createDate" column="CREATE_DATE"
			javaType="java.sql.Timestamp" />
		<result property="actStatus" column="ACT_STATUS"
			javaType="String" />
		<result property="fee" column="FEE"
			javaType="String" />
		<result property="areaName" column="AREA_NAME"
			javaType="String" />
		<result property="areaAddress" column="AREA_ADDRESS"
			javaType="String" />
		<result property="areaLatitude" column="AREA_LATITUDE"
			javaType="String" />
		<result property="areaLongitude" column="AREA_LONGITUDE"
			javaType="String" />
		<result property="wordInput" column="WORD_INPUT"
			javaType="String" />
		<result property="actSubject" column="ACT_SUBJECT"
			javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		ID AS id, ACT_ID AS actId, ACT_TYPE AS actType,
		FEE_TYPE AS feeType, PLAN_PEOPLE AS planPeople, SPR_TYPE AS sportType, ACT_DATE AS actDate,
		ACT_TIME AS actTime, USER_ID AS userId,
		OPEN_ID AS openId, HEAT AS heat,
		CREATE_DATE as createDate, ACT_STATUS as actStatus,
		FEE as fee, AREA_NAME as areaName, AREA_ADDRESS as areaAddress,
		AREA_LATITUDE as areaLatitude, AREA_LONGITUDE as areaLongitude,
		WORD_INPUT as wordInput, ACT_SUBJECT as actSubject
	</sql>

	<insert id="addActivity" parameterType="com.group.isoft.bearsport.model.activity.Activity">
		insert into t_activity
		(ID,ACT_ID,ACT_TYPE,FEE_TYPE,PLAN_PEOPLE,SPR_TYPE,ACT_DATE,ACT_TIME,USER_ID,OPEN_ID,HEAT,CREATE_DATE,ACT_STATUS,FEE,AREA_NAME,AREA_ADDRESS,AREA_LATITUDE,AREA_LONGITUDE,WORD_INPUT,ACT_SUBJECT)
		values
		(#{id},#{actId},#{actType},#{feeType},#{planPeople},#{sportType},#{actDate},#{actTime},#{userId},#{openId},#{heat},#{createDate},#{actStatus},#{fee},#{areaName},#{areaAddress},#{areaLatitude},#{areaLongitude},#{wordInput},#{actSubject})
	</insert>
		<select id="queryActivityList"
		resultType="com.group.isoft.bearsport.model.activity.Activity">
		select
		<include refid="Base_Column_List" />
		from t_activity
	</select>
	<select id="fetchMaxActId" resultType="String">
		select MAX(ACT_ID) as ACT_ID from t_activity
	</select>
</mapper>