<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group.isoft.bearsport.persist.userActivity.UserActivityMapper">
	<resultMap id="UserActivityMap" type="com.group.isoft.bearsport.model.useractivity.UserActivity">
		<id property="actId" column="ACT_ID" javaType="String" />
		<result property="userId" column="USER_ID" javaType="String" />
		<result property="joinerName" column="JOINER_NAME"
			javaType="String" />
		<result property="joinerType" column="JOINER_TYPE"
		javaType="String" />
		<result property="joinDate" column="JOIN_DATE"
			javaType="java.sql.Date" />
		<result property="joinTime" column="JOIN_TIME" javaType="String" />
		<result property="status" column="STATUS"
			javaType="int" />
		<result property="cancelDate" column="CANCEL_DATE"
			javaType="java.sql.Date" />
		<result property="cancelTime" column="CANCEL_TIME"
			javaType="String" />
		<result property="cancelReason" column="CANCEL_REASON"
			javaType="String" />
		<result property="cancelRemark" column="CANCEL_REMARK"
			javaType="String" />
	</resultMap>
	<sql id="Base_Column_List">
		ACT_ID AS actId, USER_ID AS userId, JOINER_NAME AS joinerName, JOINER_TYPE AS joinerType,
		JOIN_DATE AS joinDate, JOIN_TIME AS joinTime, STATUS AS status, DETAIL AS detail,
		CANCEL_DATE AS cancelDate, CANCEL_TIME AS cancelTime, CANCEL_REASON AS cancelReason,
		CANCEL_REMARK AS cancelRemark
	</sql>

	<insert id="addUserActivity" parameterType="com.group.isoft.bearsport.model.useractivity.UserActivity">
		insert into t_useractivity
		(ACT_ID,USER_ID,JOINER_NAME,JOINER_TYPE,JOIN_DATE,JOIN_TIME,STATUS,DETAIL,CANCEL_DATE,CANCEL_TIME,CANCEL_REASON,CANCEL_REMARK)
		values
		(#{actId},#{userId},#{joinerName},#{joinerType},#{joinDate},#{joinTime},#{status},#{detail},#{cancelDate},
		#{cancelTime},#{cancelReason},#{cancelRemark})
	</insert>

	<select id="fetchUserActivityByUidAndActId"
		resultType="com.group.isoft.bearsport.model.useractivity.UserActivity">
		select
		<include refid="Base_Column_List" />
		from t_useractivity where ACT_ID = #{0} and USER_ID = #{1}
	</select>

	<update id="updateUserActivity" parameterType="com.group.isoft.bearsport.model.useractivity.UserActivity">
		update t_useractivity SET
		CANCEL_DATE = #{cancelDate}, CANCEL_TIME = #{cancelTime}, CANCEL_REASON = #{cancelReason}, CANCEL_REMARK = #{cancelRemark}
		where ACT_ID = #{actId} and USER_ID = #{userId}
	</update>
	
	<select id="getActivityJoinersbyAcctId" parameterType="String" resultMap="activityJoinerInfoResultMap">
		select tu.USER_ID as userId, tu.NICK_NAME as username, tua.JOIN_DATE as joinDate, tua.JOIN_TIME as joinTime, tua.DETAIL as remark, ta.PLAN_PEOPLE as planPeople
		from t_useractivity tua
			left outer join t_user tu on tua.USER_ID = tu.USER_ID
		    left outer join t_activity ta on tua.ACT_ID = ta.ACT_ID
		where tua.ACT_ID = #{actId};
	</select>
	
	<resultMap type="com.group.isoft.bearsport.model.useractivity.Joiner" id="joinersResultMap">
		<id property="userId" column="userId"/>
		<result property="username" column="username"/>
		<result property="joinDate" column="joinDate"/>
		<result property="joinTime" column="joinTime"/>
		<result property="remark" column="remark"/>
	</resultMap>
	
	<resultMap type="com.group.isoft.bearsport.model.useractivity.ActivityJoinerInfo" id="activityJoinerInfoResultMap">
		<result property="planPeople" column="planPeople"/>
		<collection property="joiners" column="userId" ofType="com.group.isoft.bearsport.model.useractivity.Joiner" resultMap="joinersResultMap"/>
	</resultMap>
	
</mapper>